In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os, sys
parent_dir = os.path.abspath('..')
if parent_dir not in sys.path:
    sys.path.append(parent_dir)

In [3]:
import pandas as pd

from mirror.ground import Ground
from mirror.mirror import Mirror

In [4]:
path_ground = "./sample_ground.csv"

In [5]:
df_ground = pd.read_csv(filepath_or_buffer=path_ground, header=0)

In [6]:
df_ground.head()

,ID1,ID2,Country,City,Street
0,e2c42733-ebdf-4503-80a6-274dddc161d4,c77b17ae-1e16-4acd-b50a-65839594c516,Lithuania,Atlanta,Timber Drive
1,e51b7339-9a6c-4f21-96f8-4813ae864685,fb138322-3e77-42c2-8c9f-e4bfb517cbeb,Barbados,Lyon,Bloomsbury Vale
2,476bf72d-4b2f-426b-a83e-533df76b7e8a,ea12cf43-962e-492d-975b-a26d5cf8311e,Turkmenistan,Oklahoma City,Fawn Drive
3,42143bfe-36b8-4abd-b784-ed78e0b46852,d3df3757-81d3-4b2a-afb5-972150800fc1,Spain,Fayetteville,Champion Hill
4,01b6e65c-8dd7-4ff2-b40a-f8ccc1a8a08b,3606d03d-69e1-430f-972d-cd8f40c345c3,Micronesia,Berlin,Birkbeck Avenue

In [7]:
ground = Ground(ground=df_ground, keys=["ID1", "ID2"])

In [8]:
path_mirror = "./sample_mirror.csv"
df_mirror = pd.read_csv(filepath_or_buffer=path_mirror, header=0)

In [9]:
scoring = {
    "Country": [
        "abs",
        "sequence-matcher"
    ],
    "City": [
        "abs"
    ]
}

In [10]:
mirror_01 = Mirror(ground, mirror=df_mirror, score=scoring)

In [11]:
mirror_01.raw_map.head()

,ID1,ID2,_mean,_merge,Country__ground,Country__mirror,_Country__abs,_Country__sequence-matcher,City__ground,City__mirror,_City__abs,Street__ground,Street__mirror,_Street__abs
0,e2c42733-ebdf-4503-80a6-274dddc161d4,c77b17ae-1e16-4acd-b50a-65839594c516,1.0,both,Lithuania,Lithuania,1,1.0,Atlanta,Atlanta,1,Timber Drive,Timber Drive,1
1,e51b7339-9a6c-4f21-96f8-4813ae864685,fb138322-3e77-42c2-8c9f-e4bfb517cbeb,1.0,both,Barbados,Barbados,1,1.0,Lyon,Lyon,1,Bloomsbury Vale,Bloomsbury Vale,1
2,476bf72d-4b2f-426b-a83e-533df76b7e8a,ea12cf43-962e-492d-975b-a26d5cf8311e,1.0,both,Turkmenistan,Turkmenistan,1,1.0,Oklahoma City,Oklahoma City,1,Fawn Drive,Fawn Drive,1
3,42143bfe-36b8-4abd-b784-ed78e0b46852,d3df3757-81d3-4b2a-afb5-972150800fc1,1.0,both,Spain,Spain,1,1.0,Fayetteville,Fayetteville,1,Champion Hill,Champion Hill,1
4,01b6e65c-8dd7-4ff2-b40a-f8ccc1a8a08b,3606d03d-69e1-430f-972d-cd8f40c345c3,1.0,both,Micronesia,Micronesia,1,1.0,Berlin,Berlin,1,Birkbeck Avenue,Birkbeck Avenue,1

In [12]:
mirror_01.print_stats()

VOLUMETRY:
	|- Ground truth: 500
	|- Mirror: 500

KEY MATCHING:
	|- Matched keys: 500 (100%)
	|- Unmatched keys (ground): 0 (0%)
	|- Unmatched keys (mirror): 0 (0%)

FIELD ASSERTIVITY:
	|- Country:
		|- abs: 99.4%
		|- sequence-matcher: 99.8728480821504%
	|- City:
		|- abs: 99.8%
	|- Street:
		|- abs: 100.0%

In [13]:
mirror_01.inspect_divergence_on_field("Country")

,ID1,ID2,Country__ground,Country__mirror,_Country__abs,_Country__sequence-matcher
11,7a9ed2bb-0709-40d0-be37-e8213b84f493,9bbfd181-0613-4b0a-95c4-db14b1f253ed,Dominican Republic,Dominican Repub,0,0.909091
26,242146c4-5325-4401-bf79-9f9fccccfe92,126815a8-f7b6-4e05-a060-acb0788843ff,East Timor (Timor-Leste),East Tim (Timor-Le),0,0.883721
47,4e7dcbe5-74fb-4780-b41b-b8e3597f3c40,17a94ffb-f6be-47d4-a9d4-d89be860bf47,The Gambia,The,0,0.571429

In [14]:
mirror_01.inspect_divergence_on_field("City")

,ID1,ID2,City__ground,City__mirror,_City__abs
22,707f16e6-d884-45bf-9e1b-5f1f9943ed1e,a27273bf-2e41-4b90-8132-00ad161c172f,Tulsa,NaN,0